<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">Edit your profile</h1>
        <p class="text-center">Edit your information and save!</p>
        <div class="well">
            <%= render 'form' %>
        </div>
    </div>
</div>